/* General body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #BBD0FF; /* Soft blue */
    font-family: Arial, sans-serif;
}

/* Slot machine styling */
.slot-machine {
    text-align: center;
    padding: 20px;
    background: #B8C0FF; /* Deeper blue */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@keyframes spin {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

.reel-content {
    height: 120px; /* Adjust based on content, needs to be larger than reel */
    animation: spin 0.5s ease-in-out forwards;
}
/* Grid of reels */
.reels {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.reel {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFD6FF;
    color: #282c34;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #E7C6FF;
}

#resultDisplay {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    background: #C8B6FF; /* Lavender */
    border-radius: 5px;
}